# EDA Basics - Problem Set
## Instructions
* This problem set leads you through a short Exploratory Data Analysis session with a simple, small, built-in dataset.
* Open the table of contents to get an overview of the different problem parts.
* Work through the following problems at your own pace or during a class session with a time limit of 30 minutes - including the time to learn how to operate the online notebook. 
* Create code chunks when necessary and execute them to see the output.
* You can compare with the solution set when you're done, and when you've exhausted all avenues of help, including: R's onboard `help()` facility (invoke this from the interactive console or in a web browser, but not in this notebook - help pages don't render well); the web with discussion forums like [stackoverflow.com](https://stackoverflow.com) (register!); asking me for hints.
* Use your own copy of the notebook to take notes and reflect on false stops and starts - turn this problem set into a lesson of it own.
* Notebooks can be shared with other people in the same organization, e.g. to get comments, or to collaborate.

## Find the dataset
Base R includes a package of data sets called "datasets". It contains data on "Areas of the World's Major Landmasses". 

What's the name of this dataset?

*Hint: add a code chunk below the line `Enter solution below`. To add a code chunk, use the `+ Code` menu at the top of the screen, or define a keyboard shortcut in the menu (opens with `CTRL + m + h`).*

**Enter solution below:**

In [4]:
data()

## Load the dataset
1. Load the dataset with the "Areas of the World's Major Landmasses"
2. Print the first 10 lines.

**Enter solution below:**

In [6]:
islands

          Africa       Antarctica             Asia        Australia
           11506             5500            16988             2968
    Axel Heiberg           Baffin            Banks           Borneo
              16              184               23              280
         Britain          Celebes            Celon             Cuba
              84               73               25               43
           Devon        Ellesmere           Europe        Greenland
              21               82             3745              840
          Hainan       Hispaniola         Hokkaido           Honshu
              13               30               30               89
         Iceland          Ireland             Java           Kyushu
              40               33               49               14
           Luzon       Madagascar         Melville         Mindanao
              42              227               16               36
        Moluccas      New Britain       New Guinea  New Zealand (N)
              29               15              306               44
 New Zealand (S)     Newfoundland    North America    Novaya Zemlya
              58               43             9390               32
 Prince of Wales         Sakhalin    South America      Southampton
              13               29             6795               16
     Spitsbergen          Sumatra           Taiwan         Tasmania
              15              183               14               26
Tierra del Fuego            Timor        Vancouver         Victoria
              19               13               12               82

In [11]:
head(islands)

      Africa   Antarctica         Asia    Australia Axel Heiberg       Baffin
       11506         5500        16988         2968           16          184

In [14]:
head(islands,10)

      Africa   Antarctica         Asia    Australia Axel Heiberg       Baffin
       11506         5500        16988         2968           16          184
       Banks       Borneo      Britain      Celebes
          23          280           84           73

## Check data structure
1. What kind of data structure is this dataset? - *Enter the command in a code cell, and then answer the question in the directly following text cell.*
2. How many landmass areas does the dataset contain?

*Bonus question: how many `methods` does the generic function contain that is used to check data structure?*

**Enter solution below:**

In [15]:
str(islands)

 Named num [1:48] 11506 5500 16988 2968 16 ...
 - attr(*, "names")= chr [1:48] "Africa" "Antarctica" "Asia" "Australia" ...

48

## Check object type
What type of R object is this dataset?

**Enter solution below:**

In [25]:
typeof(islands)

[1] "double"

## Get to know the data
1. Which area landmass is the largest? 
2. How large is it in square miles?

*Hint: to answer (1), use the `max()` function to identify the largest landmass, and then extract the vector element using `[]`.*

**Enter solution below:**

In [16]:
which.max(islands)

Asia
   3

In [17]:
max(islands)

[1] 16988

In [21]:
islands[which.max(islands)]

 Asia
16988

3. What is the size of the *average* landmass in the dataset?

In [33]:
summary(islands)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   12.0    20.5    41.0  1252.7   183.2 16988.0

In [34]:
mean(islands)

[1] 1252.729

**Enter solution below:**

4. How are the landmasses in the dataset called?

**Enter solution below:**

5. What is the difference between the largest and the smallest landmass of the dataset?

*Bonus question: solve this question using the `summary` function in two lines of code.*

In [35]:
summary(islands)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   12.0    20.5    41.0  1252.7   183.2 16988.0

In [36]:
16988.0 - 12.0

[1] 16976

**Enter solution below:**

## Plot the data
1. Plot an approximate representation of the distribution of the data in the dataset.

In [42]:
dist(islands)

                 Africa Antarctica  Asia Australia Axel Heiberg Baffin Banks
Antarctica         6006
Asia               5482      11488
Australia          8538       2532 14020
Axel Heiberg      11490       5484 16972      2952
Baffin            11322       5316 16804      2784          168
Banks             11483       5477 16965      2945            7    161
Borneo            11226       5220 16708      2688          264     96   257
Britain           11422       5416 16904      2884           68    100    61
Celebes           11433       5427 16915      2895           57    111    50
Celon             11481       5475 16963      2943            9    159     2
Cuba              11463       5457 16945      2925           27    141    20
Devon             11485       5479 16967      2947            5    163     2
Ellesmere         11424       5418 16906      2886           66    102    59
Europe             7761       1755 13243       777         3729   3561  3722
Greenland         10666       4660 16148      2128          824    656   817
Hainan            11493       5487 16975      2955            3    171    10
Hispaniola        11476       5470 16958      2938           14    154     7
Hokkaido          11476       5470 16958      2938           14    154     7
Honshu            11417       5411 16899      2879           73     95    66
Iceland           11466       5460 16948      2928           24    144    17
Ireland           11473       5467 16955      2935           17    151    10
Java              11457       5451 16939      2919           33    135    26
Kyushu            11492       5486 16974      2954            2    170     9
Luzon             11464       5458 16946      2926           26    142    19
Madagascar        11279       5273 16761      2741          211     43   204
Melville          11490       5484 16972      2952            0    168     7
Mindanao          11470       5464 16952      2932           20    148    13
Moluccas          11477       5471 16959      2939           13    155     6
New Britain       11491       5485 16973      2953            1    169     8
New Guinea        11200       5194 16682      2662          290    122   283
New Zealand (N)   11462       5456 16944      2924           28    140    21
New Zealand (S)   11448       5442 16930      2910           42    126    35
Newfoundland      11463       5457 16945      2925           27    141    20
North America      2116       3890  7598      6422         9374   9206  9367
Novaya Zemlya     11474       5468 16956      2936           16    152     9
Prince of Wales   11493       5487 16975      2955            3    171    10
Sakhalin          11477       5471 16959      2939           13    155     6
South America      4711       1295 10193      3827         6779   6611  6772
Southampton       11490       5484 16972      2952            0    168     7
Spitsbergen       11491       5485 16973      2953            1    169     8
Sumatra           11323       5317 16805      2785          167      1   160
Taiwan            11492       5486 16974      2954            2    170     9
Tasmania          11480       5474 16962      2942           10    158     3
Tierra del Fuego  11487       5481 16969      2949            3    165     4
Timor             11493       5487 16975      2955            3    171    10
Vancouver         11494       5488 16976      2956            4    172    11
Victoria          11424       5418 16906      2886           66    102    59
                 Borneo Britain Celebes Celon  Cuba Devon Ellesmere Europe
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain             196
Celebes             207      11
Celon               255      59      48
Cuba                237      41      30    18
Devon               259      63      52     4    22
Ellesmere           198       2       9    57    39    61
Europe             3465    3661    3672  3720  3702  3724      3663
Greenland           560     756     767   815   797   819       758   2905
Hainan              267      71      60    12    30     8        69   3732
Hispaniola          250      54      43     5    13     9        52   3715
Hokkaido            250      54      43     5    13     9        52   3715
Honshu              191       5      16    64    46    68         7   3656
Iceland             240      44      33    15     3    19        42   3705
Ireland             247      51      40     8    10    12        49   3712
Java                231      35      24    24     6    28        33   3696
Kyushu              266      70      59    11    29     7        68   3731
Luzon               238      42      31    17     1    21        40   3703
Madagascar           53     143     154   202   184   206       145   3518
Melville            264      68      57     9    27     5        66   3729
Mindanao            244      48      37    11     7    15        46   3709
Moluccas            251      55      44     4    14     8        53   3716
New Britain         265      69      58    10    28     6        67   3730
New Guinea           26     222     233   281   263   285       224   3439
New Zealand (N)     236      40      29    19     1    23        38   3701
New Zealand (S)     222      26      15    33    15    37        24   3687
Newfoundland        237      41      30    18     0    22        39   3702
North America      9110    9306    9317  9365  9347  9369      9308   5645
Novaya Zemlya       248      52      41     7    11    11        50   3713
Prince of Wales     267      71      60    12    30     8        69   3732
Sakhalin            251      55      44     4    14     8        53   3716
South America      6515    6711    6722  6770  6752  6774      6713   3050
Southampton         264      68      57     9    27     5        66   3729
Spitsbergen         265      69      58    10    28     6        67   3730
Sumatra              97      99     110   158   140   162       101   3562
Taiwan              266      70      59    11    29     7        68   3731
Tasmania            254      58      47     1    17     5        56   3719
Tierra del Fuego    261      65      54     6    24     2        63   3726
Timor               267      71      60    12    30     8        69   3732
Vancouver           268      72      61    13    31     9        70   3733
Victoria            198       2       9    57    39    61         0   3663
                 Greenland Hainan Hispaniola Hokkaido Honshu Iceland Ireland
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain
Celebes
Celon
Cuba
Devon
Ellesmere
Europe
Greenland
Hainan                 827
Hispaniola             810     17
Hokkaido               810     17          0
Honshu                 751     76         59       59
Iceland                800     27         10       10     49
Ireland                807     20          3        3     56       7
Java                   791     36         19       19     40       9      16
Kyushu                 826      1         16       16     75      26      19
Luzon                  798     29         12       12     47       2       9
Madagascar             613    214        197      197    138     187     194
Melville               824      3         14       14     73      24      17
Mindanao               804     23          6        6     53       4       3
Moluccas               811     16          1        1     60      11       4
New Britain            825      2         15       15     74      25      18
New Guinea             534    293        276      276    217     266     273
New Zealand (N)        796     31         14       14     45       4      11
New Zealand (S)        782     45         28       28     31      18      25
Newfoundland           797     30         13       13     46       3      10
North America         8550   9377       9360     9360   9301    9350    9357
Novaya Zemlya          808     19          2        2     57       8       1
Prince of Wales        827      0         17       17     76      27      20
Sakhalin               811     16          1        1     60      11       4
South America         5955   6782       6765     6765   6706    6755    6762
Southampton            824      3         14       14     73      24      17
Spitsbergen            825      2         15       15     74      25      18
Sumatra                657    170        153      153     94     143     150
Taiwan                 826      1         16       16     75      26      19
Tasmania               814     13          4        4     63      14       7
Tierra del Fuego       821      6         11       11     70      21      14
Timor                  827      0         17       17     76      27      20
Vancouver              828      1         18       18     77      28      21
Victoria               758     69         52       52      7      42      49
                  Java Kyushu Luzon Madagascar Melville Mindanao Moluccas
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain
Celebes
Celon
Cuba
Devon
Ellesmere
Europe
Greenland
Hainan
Hispaniola
Hokkaido
Honshu
Iceland
Ireland
Java
Kyushu              35
Luzon                7     28
Madagascar         178    213   185
Melville            33      2    26        211
Mindanao            13     22     6        191       20
Moluccas            20     15    13        198       13        7
New Britain         34      1    27        212        1       21       14
New Guinea         257    292   264         79      290      270      277
New Zealand (N)      5     30     2        183       28        8       15
New Zealand (S)      9     44    16        169       42       22       29
Newfoundland         6     29     1        184       27        7       14
North America     9341   9376  9348       9163     9374     9354     9361
Novaya Zemlya       17     18    10        195       16        4        3
Prince of Wales     36      1    29        214        3       23       16
Sakhalin            20     15    13        198       13        7        0
South America     6746   6781  6753       6568     6779     6759     6766
Southampton         33      2    26        211        0       20       13
Spitsbergen         34      1    27        212        1       21       14
Sumatra            134    169   141         44      167      147      154
Taiwan              35      0    28        213        2       22       15
Tasmania            23     12    16        201       10       10        3
Tierra del Fuego    30      5    23        208        3       17       10
Timor               36      1    29        214        3       23       16
Vancouver           37      2    30        215        4       24       17
Victoria            33     68    40        145       66       46       53
                 New Britain New Guinea New Zealand (N) New Zealand (S)
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain
Celebes
Celon
Cuba
Devon
Ellesmere
Europe
Greenland
Hainan
Hispaniola
Hokkaido
Honshu
Iceland
Ireland
Java
Kyushu
Luzon
Madagascar
Melville
Mindanao
Moluccas
New Britain
New Guinea               291
New Zealand (N)           29        262
New Zealand (S)           43        248              14
Newfoundland              28        263               1              15
North America           9375       9084            9346            9332
Novaya Zemlya             17        274              12              26
Prince of Wales            2        293              31              45
Sakhalin                  14        277              15              29
South America           6780       6489            6751            6737
Southampton                1        290              28              42
Spitsbergen                0        291              29              43
Sumatra                  168        123             139             125
Taiwan                     1        292              30              44
Tasmania                  11        280              18              32
Tierra del Fuego           4        287              25              39
Timor                      2        293              31              45
Vancouver                  3        294              32              46
Victoria                  67        224              38              24
                 Newfoundland North America Novaya Zemlya Prince of Wales
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain
Celebes
Celon
Cuba
Devon
Ellesmere
Europe
Greenland
Hainan
Hispaniola
Hokkaido
Honshu
Iceland
Ireland
Java
Kyushu
Luzon
Madagascar
Melville
Mindanao
Moluccas
New Britain
New Guinea
New Zealand (N)
New Zealand (S)
Newfoundland
North America            9347
Novaya Zemlya              11          9358
Prince of Wales            30          9377            19
Sakhalin                   14          9361             3              16
South America            6752          2595          6763            6782
Southampton                27          9374            16               3
Spitsbergen                28          9375            17               2
Sumatra                   140          9207           151             170
Taiwan                     29          9376            18               1
Tasmania                   17          9364             6              13
Tierra del Fuego           24          9371            13               6
Timor                      30          9377            19               0
Vancouver                  31          9378            20               1
Victoria                   39          9308            50              69
                 Sakhalin South America Southampton Spitsbergen Sumatra Taiwan
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain
Celebes
Celon
Cuba
Devon
Ellesmere
Europe
Greenland
Hainan
Hispaniola
Hokkaido
Honshu
Iceland
Ireland
Java
Kyushu
Luzon
Madagascar
Melville
Mindanao
Moluccas
New Britain
New Guinea
New Zealand (N)
New Zealand (S)
Newfoundland
North America
Novaya Zemlya
Prince of Wales
Sakhalin
South America        6766
Southampton            13          6779
Spitsbergen            14          6780           1
Sumatra               154          6612         167         168
Taiwan                 15          6781           2           1     169
Tasmania                3          6769          10          11     157     12
Tierra del Fuego       10          6776           3           4     164      5
Timor                  16          6782           3           2     170      1
Vancouver              17          6783           4           3     171      2
Victoria               53          6713          66          67     101     68
                 Tasmania Tierra del Fuego Timor Vancouver
Antarctica
Asia
Australia
Axel Heiberg
Baffin
Banks
Borneo
Britain
Celebes
Celon
Cuba
Devon
Ellesmere
Europe
Greenland
Hainan
Hispaniola
Hokkaido
Honshu
Iceland
Ireland
Java
Kyushu
Luzon
Madagascar
Melville
Mindanao
Moluccas
New Britain
New Guinea
New Zealand (N)
New Zealand (S)
Newfoundland
North America
Novaya Zemlya
Prince of Wales
Sakhalin
South America
Southampton
Spitsbergen
Sumatra
Taiwan
Tasmania
Tierra del Fuego        7
Timor                  13                6
Vancouver              14                7     1
Victoria               56               63    69        70

**Enter solution below:**

2. What is the object class of this plot?

**Enter solution below:**

3. In which data structure are the `attributes` of this plot stored?

4. Look for an `example` of the dataset. What kind of chart is generated here?

## Cite your sources
To finish, cite the sources of this EDA.

*Hint: there are three sources.*

**Enter solution below:**

In [38]:
citation()

To cite R in publications use:

  R Core Team (2021). R: A language and environment for statistical
  computing. R Foundation for Statistical Computing, Vienna, Austria.
  URL https://www.R-project.org/.

A BibTeX entry for LaTeX users is

  @Manual{,
    title = {R: A Language and Environment for Statistical Computing},
    author = {{R Core Team}},
    organization = {R Foundation for Statistical Computing},
    address = {Vienna, Austria},
    year = {2021},
    url = {https://www.R-project.org/},
  }

We have invested a lot of time and effort in creating R, please cite it
when using it for data analysis. See also ‘citation("pkgname")’ for
citing R packages.